@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

root {
  background-color: #1f2937;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

@font-face {
  font-family: "Dosis";
  src: local("Dosis"), url(./fonts/Dosis-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "Biotif";
  src: local("Biotif"), url(./fonts/Biotif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "BiotifBold";
  src: local("BiotifBold"), url(./fonts/Biotif-Bold.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, "Raleway", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141925;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.linear-gradient {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;

  background: linear-gradient(to right, #3b82f6 0%, #1e3a8a 50%, #3b82f6 100%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: 3s infinite linear grad;
}

@keyframes grad {
  to {
    background-position: 200% center;
  }
}

.project-card {
  background-color: #1f2937;
  transition: 0.3s;
}

.project-card:hover {
  border-color: white;
}

.project-text {
  font-family: Dosis, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 10;
}

.project-card-title {
  font-size: 16pt;
  font-family: Dosis, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.project-title {
  font-size: 32pt;
  font-family: Dosis, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.project-subheading {
  font-size: 16pt;
  font-family: Dosis, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.footer-bg {
  backgorund-color: #141925;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
